@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400&display=swap');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

.app{
  background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);;
}

.container{
  /* border: 1px solid black; */
  max-width: 1300px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 1em;
}

.app-title{
  font-size: 3rem;
  text-align: center;
  color: black;
  font-weight: 100;
  margin: 0;
}

.card{
  /* border: 1px solid green; */
  max-width: 500px;
  margin: auto;
  margin-top: 5em;
  padding: 2em; /*Change this to 3em when screen > 500px*/
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 15px;
  flex: 1 1 100px;
  border-radius: 15px;
  background-color: white;
}
.redirection-message{
  font-size: 1.5rem;
}
.error {
  font-size: 1rem;
  margin: 0;
  color: red;
  text-align: center;
}

.card input, .card button{
  padding: 1em;
  border-radius: 15px;
  outline: none;
}

.card input{
  border: 1px solid grey;
  font-size: large;
}

.card input:focus{
  border: 1px solid rgb(0, 119, 255);
  box-shadow: rgb(131, 189, 255) 0px 2px 8px 0px;
}

.card button{
  border: none;
  font-size: larger;
  font-weight: bolder;
  background-color: rgb(0, 119, 255);
  color: white;
}

.card button:hover{
  background-color: rgb(67, 152, 250);
  box-shadow: rgb(67, 152, 250) 0px 2px 8px 0px;
}

.card button:active{
  background-color: rgb(0, 119, 255);
}

@media (min-width:500px){
  .card{
    padding: 3em;
  }
}